bg/output/single/**
bg/output/stderr/**
bg/output/stdoutput/**
bg/output/sum/processed/**
bg/output/sum/stack/**
bg/output/sum/type_sum/**
sim_x10x20x10/simData*
analysis/output/**
*.pyc
*.pdf
*.bak
*.root
analysis/scripts/latex/*.pdf
analysis/scripts/latex/*.aux
analysis/scripts/latex/*.log
analysis/scripts/latex/*.out
analysis/scripts/latex/*.tex
analysis/scripts/*.root
Production/test/condorSub/checkVomsTar.sh
Production/test/condorSub/jobExecCondor.jdl
Production/test/condorSub/jobExecCondor.sh
Production/test/condorSub/step1.sh
!lib/L1prefiring_jet_2017BtoF.root
!lib/susy-trig-plots.root
